* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  font-size: 32px;
  background-color: grey;
}

main {
  display: flex;
  justify-content: center;
}

#highscore,
#time-left,
#current-score {
  color: yellow;
}

#highscore-button {
    cursor: pointer;
}

#highscore-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    border: 2px solid;
    background-color: yellow;
}

#highscore-window ol {
    list-style: disc;
    padding-left: 10px;
}

#question-card {
  border: 5px solid;
  border-radius: 2em;
  margin-top: 10%;
  width: 70%;
  padding-bottom: 100px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 31%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 19px 20px 20px 20px rgba(255,255,255,0.75)
}

#question-card-items {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#question {
  margin-bottom: 100px;
  color: white;
  padding: 10px;
  font-size: 18px;
}

#answers button {
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  width: 98%;
  border: 1px solid black;
  border-radius: 2em;
  background-color: green;
  color: white;
  font-size: x-large;
}

#answers button:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  #question-card {
    width: 100%;
    margin: auto;
    box-shadow: none;
  }
}
